* {
  margin: 0;
}

body {
  overflow-x: hidden !important;
}

li::marker {
  color: red;
}

h4 {
  font-weight: 650 !important;
}




.ant-menu a,
.ant-menu .ant-menu-item a,
.ant-menu .ant-menu-item-selected a,
.ant-menu .ant-menu-item-active a,
.ant-menu .ant-menu-item>span>a {
  text-decoration: none !important;
}